{% extends "banner.html" %}
{% load static %}

<!-- Home template starts here  -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="my-auto">
    <h1 class=" text-white Titillium text-center">
        Guide fly fishing - Book a guide
    </h1>
    <div class="my-5 text-center">
        <h4>

            <a href="{% url 'alltrips' %}"
                class="shop-now-button-small btn btn-outline-light rounded-1 btn-lg text-uppercase py-3">Find a
                Guided fly fishing Trip </a>
        </h4>
    </div>
</div>
<!-- Home template ends here  -->
{% endblock %}