{% extends "banner.html" %}
{% load static %}



{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- Venue Location -->
            <p class="det-heading lead mb-0 text-center text-det-prom">{{ det_trips_view.venue }}</p>
            <p class="det heading lead mb-0 text-center text-det-prom">{{ det_trips_view.locale }}</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
            <div class="image-container my-5">
               
                {% if det_trips_view.image %}
                <a href="{{ det_trips_view.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ det_trips_view.image.url }}"
                        alt="{{ det_trips_view.name }}">
                </a>
                {% else %}
                <img class="card-img-top img-fluid" src="{% static 'img/noimage.jpg' %}"
                    alt="{{ det_trips_view.name }}">
                {% endif %}
                <!-- description Fields  -->
                <p class="mt-3 text-det-para"> {{ det_trips_view.description }}</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="product-details-container mb-5 mt-md-5">
                <!-- Date, Spaces, duration -->
                <p class="mb-1 text-det-para">Date commencing on : {{ det_trips_view.dates }}</p>
                <p class="mb-1 text-det-para">Number of days : {{ det_trips_view.day }}</p>
                <p class="mb-1 text-det-para">Number of People : {{ det_trips_view.spaces }}</p>
                <!-- rating Fields  -->
                {% if det_trips_view.rating %}
                    <small><i class="mb-1 fas fa-star mr-1"></i>{{ det_trips_view.rating }} / 5</small>
                {% else %}
                    <small>No Rating</small>
                {% endif %}
                <!-- Edit and remove links on page -->
                {% if request.user.is_superuser %}
                    <p><small class="ml-3">
                        <a href="{% url 'edit_product' det_trips_view.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_product' det_trips_view.id %}">Delete</a>
                    </small></p>
                {% endif %}
               <!-- Cost fields  -->
                <p class="lead mb-0 text-left font-weight-bold">£{{ det_trips_view.cost }}</p>
                <hr>
                <!-- Start of form for quantiy and add to shopping bag -->
                <form class="form" action="{% url 'add_to_bag' det_trips_view.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <p class="mt-3 text-det-para">Quantity:</p>
                        <div class="col-12 d-flex justify-content-center">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <!-- decrement button -->
                                        <button class="decrement-qty btn btn-outline-light rounded-1"
                                            data-item_id="{{ det_trips_view.id }}" id="decrement-qty_{{ det_trips_view.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <!-- Input field for Quantity -->
                                    <input class="form-control field-size qty_input" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ det_trips_view.id }}" id="id_qty_{{ det_trips_view.id }}">
                                    <div class="input-group-append">
                                    <!-- increment button -->
                                        <button class="increment-qty btn btn-outline-light rounded-1"
                                            data-item_id="{{ det_trips_view.id }}" id="increment-qty_{{ det_trips_view.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col{% if s %}-12 mt-2{% endif %} text-end">
                            <a href="{% url 'alltrips' %}" class="shop-now-button-small btn btn-outline-light rounded-1 mt-3">
                                <span class="icon"><i class="fas fa-chevron-left"></i></span>
                                <span class="text-uppercase">Keep Looking for Trips</span>
                            </a>
                            <input type="submit" class="shop-now-button-small btn btn-outline-light rounded-1 text-uppercase mt-3" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'includes/qnty_inp.html' %}
{% endblock %}