{% extends "banner.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-center">Shopping Bag</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}

            <div class="table-responsive rounded-1">
                <table class="table table-sm table-borderless ">
                    <thead class="text-black">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Trip Information</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in bag_items %}
                    <tr class="text-center">
                        <td class="p-3 w-25">
                            {% if item.product.image %}
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                            {% else %}
                            <img class="card-img-top img-fluid" src="{% static 'img/noimage.jpg' %}">
                            {% endif %}
                        </td>
                        <td class="py-3 text-bag-para">
                            <p class="my-0"><strong>{{ item.product.venue }}</strong></p>
                            <p class="my-0 ">{{ item.product.locale }}</p>
                            <p class="my-0 ">{{ item.product.dates }}</p>
                        </td>
                        <td class="py-3 text-bag-para">
                            <p class="my-0">£{{ item.product.cost }}</p>
                        </td>
                        <td class="py-3 text-bag-para">
                            <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                <!-- Calculaleted quantity for items  -->
                                {{ item.quantity }}
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <!-- decrement button -->
                                            <button class="decrement-qty btn btn-sm btn-black rounded-0"
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <!-- input field for quantity  -->
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <!-- increment button -->
                                            <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <!-- Update and remove links  -->
                            <!-- Do not put links inside the form as this break the update funcxtion it should remain outside the form tag -->
                            <a class="update-link text-dark px-3"><small>Update</small></a>
                            <a class="remove-item text-danger px-3"
                                id="remove_{{ item.item_id }}"><small>Remove</small></a>

                        </td>
                        <td class="py-3 text-bag-para text-right">
                            <p class="my-0">£{{ item.product.cost | calc_subtotal:item.quantity }}</p>
                        </td>

                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5">
                            
                                <h4 class="mt-4 text-end"><strong>Total: £{{ grand_total|floatformat:2 }}</strong>
                                </h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <div class="text-end">
                                <a href="{% url 'alltrips' %}" class="shop-now-button-small btn btn-outline-black rounded-0 btn-lg">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep looking for Guided Trips</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
                {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'alltrips' %}" class="btn btn-outline-light rounded-1 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep looking for Guided Trips</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>

    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}
    {% include 'includes/qnty_inp.html' %}

    <script type="text/javascript">
        // Update quantity on click
        $('.update-link').click(function (e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })

        // Remove item and reload on click
        $('.remove-item').click(function (e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];

            var url = `/bag/remove/${itemId}/`;
            var data = {
                'csrfmiddlewaretoken': csrfToken,
            };

            $.post(url, data)
                .done(function () {
                    location.reload();
                });
        })
    </script>

    {% endblock %}