{% extends "banner.html" %}
{% load static %}
{% load bag_tools %}

<!-- Padding header for navbar  -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<!-- Start of page  -->
{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-center">Shopping Bag</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">

            {% if bag_items %}
                <div class="row">
                    <div class="col">
                        {% include "bag-total.html" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-white mb-5">A summary of your bag contents is below</p>
                    </div>
                </div>

                
                {% for item in bag_items %}
                
                    <div class="row bg-light text-dark py-3 mx-1 rounded">

                        <!-- headers (hidden on mobile) -->
                        <div class="row d-none d-md-flex fw-bold fs-5 mb-3 m-0 p-0 w-100">
                            <div class="col-3"></div>
                            <div class="col-3">Trip Information</div>
                            <div class="col">Price</div>
                            <div class="col text-center">Quantity</div>
                            <div class="col text-end">Subtotal</div>
                        </div>

                        <!-- image -->
                        <div class="col-6 col-md-3 mb-5">
                            {% include "product-image.html" %}
                        </div>

                        <!-- details -->
                        <div class="col-6 col-md-3 mb-5">
                            {% include "product-info.html" %}
                        </div>

                        <!-- cost/price -->
                        <div class="col-12 col-md-2">
                            <span class="my-0 d-inline d-md-none">Price Each: </span>
                            <strong>£{{ item.product.cost }}</strong>
                        </div>

                         <!-- quantity adjustments -/+ buttons -->
                        <div class="col-12 col-md-2 my-4 my-md-0 p-md-0">
                            <span class="my-0 d-inline d-md-none">Quantity: </span>

                            <form class="justify-content-center form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <!-- decrement quantity -->
                                            <button class="decrement-qty btn btn-light border-secondary btn-sm rounded-0" data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span><i class="fas fa-minus fa-sm"></i></span>
                                            </button>
                                        </div>
                                        <!-- quantity input field -->
                                        <input class="form-control form-control-sm field-size qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <!-- increment quantity -->
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-light border-secondary btn-sm rounded-0" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span><i class="fas fa-plus fa-sm"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- Update and remove links (cannot go inside of "form" element!!)  -->
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <a class="update-link text-info">
                                        <small>Update</small>
                                    </a>
                                </div>
                                <div class="col-12 col-md-6 text-md-end">
                                    <a class="remove-item text-danger" id="remove_{{ item.item_id }}">
                                        <small>Remove</small>
                                    </a>
                                </div>
                            </div>
                            
                        </div>

                        <!-- subtotal -->
                        <div class="col-12 col-md-2 text-end">
                            <span class="my-0 d-inline d-md-none">Subtotal: </span>
                            <strong>£{{ item.product.cost | calc_subtotal:item.quantity }}</strong>
                        </div>

                    </div>

                    <!-- divider -->
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                {% endfor %}

                <!-- total -->
                <h4 class="mt-4 text-end fw-bolw">Total: £{{ grand_total|floatformat:2 }}</h4>

                <!-- return / continue buttons -->
                <br>
                {% include "checkout-buttons.html" %}
                <br>

                <!-- to top -->
                <div class="text-center">
                    <button class="shop-now-button-small btn btn-outline-black rounded-1 text-uppercase" onclick="scrollToTop()">
                        <i class="fas fa-chevron-up"></i> Return to Top
                    </button>
                </div>
            
            {% else %}
                <!-- empty bag -->
                <p class="lead mb-5 text-center">Your bag is empty.</p>
                <div class="text-center">
                    <a href="{% url 'alltrips' %}" class="shop-now-button-small btn btn-outline-light rounded-1 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep looking for Guided Trips</span>
                    </a>
                </div>

            {% endif %}

        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'includes/qnty_inp.html' %}

<script>
    /* jshint esversion: 11, jquery: true */

    // Update quantity on click
    $('.update-link').click(function (e) {
        e.preventDefault();
        let form = $(this).closest('.row').prev('.update-form');
        form.submit();
    });

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let url = `/bag/remove/${itemId}/`;
        let data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    });

    // Scroll to the top of the page
    function scrollToTop() {
        window.scrollTo(0, 0);
    }
</script>

{% endblock %}