@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


html {
    height: 100%;
}

body {
    background: url('/media/river.avif ') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #FFFF;
    font-family: 'Titillium Web';
}
.titillium {
    font-family: "Titillium Web";
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: white;
    color: black;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}
.text-white {
    color: #FFFF;
}


.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

.banner-panel {
    top: 21%;
    width: 75%;
    background-color: #00537c;
    position: relative;
    left: 12.5%;
    text-align: center;
    border-radius: 1em;
    padding: 0.5em 0;
}

.inner-panel {
    width: 98%;
    background-color: #001242;
    min-height: 98%;
    text-align: center;
    margin: auto;
    border-radius: 0.5em;
    padding: 1em 0;
    position: relative;

}

hr.hr-format {
    border-top: 5px solid #005e7c;
    margin: 0 auto;
    width: 98%;
}