@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


html {
    height: 100%;
}

body {
    background: url('/static/img/river.avif ') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px); 
    color: #FFFFFF;
    font-family: 'Titillium Web';
}
.titillium {
    font-family: "Titillium Web";
}

.det-heading {
    text-align: center;
    
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* button formatting for site buttons  */
.shop-now-button {
    background: white;
    color: black;
    min-width: 260px;
    border-color: #0094c6;
    border-width: 3px;
}
.shop-chk-button {
    background: white;
    color: black;
    min-width: 150px;
    border-color: #0094c6;
    border-width: 3px;
}

.shop-now-button-small {
    background: white;
    color: black;
    min-width: 100px;
    border-color: #0094c6;
    border-width: 3px;
}

.shop-chk-button:hover,
.shop-chk-button:active,
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button-small:active,
.shop-now-button-small:hover,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}


.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* set colour and sizing for details, bag, checkout pages  */
.text-chk-prom,
.text-det-prom {
    color: #FFFFFF;
    font-size: 1.5rem;
}

.text-det-para,
.text-chk-para   {
    color: #FFFFFF;
    font-size: 1.1rem;
}
.text-bag-para {
    color: #0000;
    font-size: 1.2rem;
}

.text-white {
    color: #FFFFFF;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}
.text-err-paym {
    font-size: 1.2rem;
}

.text-chk-emph {
    font-weight: 700;
    color: #FFFFFF;
    font-size: 1.1rem;
}

.field-size {
    max-width: 120px;
    min-width: 120px; 
}

.field-size-logon {
    max-width: 325px;
}


/* used to format back ground colour containers in banner.html for displaying text  */
.banner-panel {
    top: 20%;
    position: relative;
    width: 75%;
    background-color: #00537c;
    position: realtive;
    left: 12.5%;
    border-radius: 1em;
    padding: 0.5em 0;
}

.inner-panel {
    width: 98%;
    background-color: #001242;
    min-height: 98%;
    margin: auto;
    border-radius: 0.5em;
    padding: 1em 0;
    position: relative;

}

/* Toast formatting for toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: auto;
}

.toast-capper {
    height: 8px;
}

.bg-toast {    
    background-color: #001242;
}

.bg-toast-alt {
    background-color: #00537c;
} 

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 1;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

/* profile page header formatting formating  */
.profile-header {
    display: flex;
    align-items: flex-end; /* Aligns both elements to the bottom */
    gap: 10px; /* Add space between elements */
}

.profile-header h2,
.profile-header .text-det-prom {
    display: inline-block;
    margin: 0; /* Remove default margins to ensure they stay on the same line */
    padding: 0;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 90%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 50px;
    }
} 

/* applies format changes to small screens on mobile */
@media (max-width: 991px) {
    .banner-panel {
        
        position: relative;
        width: 95%;
        background-color: #00537c;
        position: realtive;
        left: 2.5%;
        border-radius: 1em;
        padding: 0.5em 0;
    }
    
    
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .increment-qty, .decrement-qty {
        /* alter sizes of button relative to field */
        padding: .3rem .3rem !important;  
    }
    .text-bag-para,
    .text-chk-para   {
        font-size: 0.9rem;
    }
}    

