<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav ps-1  w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Find Guided Fishing Days by
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'alltrips' %}" class="dropdown-item">All trips</a>
                <a href="{% url 'alltrips' %}?category=non_uk" class="dropdown-item">World Fishing Trips</a>
                <a href="{% url 'alltrips' %}?category=rivers" class="dropdown-item">Rivers</a>
                <a href="{% url 'alltrips' %}?category=stillwater_fishing" class="dropdown-item">Lakes and Ponds</a>
                <a href="{% url 'alltrips' %}?category=sea_fishing" class="dropdown-item">Sea fishing</a>
                <a href="{% url 'alltrips' %}?category=salmon_fishing" class="dropdown-item">Salmon Fishing</a>
                <a href="{% url 'alltrips' %}?category=trout_fishing" class="dropdown-item">Trout Fishing</a>
                <a href="{% url 'alltrips' %}?category=chalk_stream" class="dropdown-item">Chalk stream</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort Guided Fishing trips by:
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'alltrips' %}?sort=cost&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'alltrips' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
            </div>
        </li>


    </ul>
</div>