.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 3px solid transparent;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #868788;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 2px 6px 0 #eb9e05e0;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #3b3d40;
}

.fieldset-label {
    position: relative;
   
}

#payment-form .form-control,
#card-element {
    font-size: 1.2rem;
    border: 2px solid #ffffff50;
}