<div class="toast bg-toast custom-toast rounded-0 border-top-0" data-autohide="false">
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header bg-toast text-light">
        <strong class="mx-auto">Success!</strong>
        <button type="button" class="ml-2 mb-1 close bg-toast-alt text-light " data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- toast body and item added  -->
    <div class="toast-body bg-toast">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        <!-- Show Products in the bag  -->
        {% if grand_total %}
            <p class="logo-font bg-toast py-1">Your Bag ({{ product_count }})</p>
            <div class="bag-notification-wrapper">
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-3 my-1">
                            <img class="w-100" src="{{ item.product.image.url }}">
                        </div>
                        <div class="col-9">
                            <p class="my-0"><strong>{{ item.product.venue }}</strong></p>
                            <p class="my-0 ">Qty: {{ item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- creates total at bottom of toast  -->
            <div class="row">
                <!-- justifies text to far right and far left of the Toast box -->
                <div class="col d-flex justify-content-between">
                    <span><strong>Total:</strong></span>
                    <span><strong>£{{ total }}</strong></span>
                  </div>
            </div>
            <!-- link to checkout page  -->
            <div class="row">
                <a href="{% url 'checkout' %}" class="btn btn-outline-light rounded-1 ">
                    <span class="text-uppercase">Go To Secure Checkout</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
        {% endif %}
    </div>
</div>